<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Ticket Tracker</title>
	<style>
		header 
		{
	       padding: 10px;
	       background-color: blue;
	       color: white;
	       font-size: xx-large;
	       
      	}
	</style>
</head>

<body>
<header>Ticket Tracker Application</header>
<h3>List of Tickets</h3>
<div class="container" align="center">
	<a th:href="@{/admin/showFormForAdd}" class="btn btn-primary btn-lg mb-3">
		Add Tickets
	</a>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Ticket Title</th>
				<th>Ticket Short Description</th>
				<th>Ticket Created On</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="in:${info}">
				<td th:text="${in.id}"/>
				<td th:text="${in.ticketTitle}"/>
			<td th:text="${in.ticketDescription}"/>
			<td th:text="${in.ticketCreated}"/>
				<td>
				<div class="row">
					<div class="col-small">
					<form action="#" th:action="@{/admin/showFormForUpdate}" method="POST">
						<input type="hidden" th:name="repId" th:value="${in.id}">						
						<button type="submit" class="btn btn-primary btn-sm ml-3 mr-1">Update</button>
					</form>
					</div>
					<div class="col-small">
					<form action="#" th:action="@{/admin/deleteDetails}" method="POST">
						<input type="hidden" th:name="repId" th:value="${in.id}">						
						<button type="submit" class="btn btn-danger btn-sm  ml-3 mr-1" onclick="if (!(confirm('Are you sure you want to delete this Ticket Detail?'))) return false">
								Delete
						</button>
					</form>
					</div>
					<div class="col-small">
					<form action="#" th:action="@{/admin/viewdetail}" method="POST">
						<input type="hidden" th:name="repId" th:value="${in.id}">						
						<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">View</button>
					</form>
					</div>
				</div>	
				</td>
			</tr>
		</tbody>		
	</table>
</div>

</body></html>